html {
  scroll-behavior: smooth;
}

.page {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway';

  &__inner {
    height: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
}

.title {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3.75px;
}

.hero {
  height: 100vh;
  background: url(../img/bg-image.jpg) no-repeat 50% 50%;

  &__inner {
    height: 100vh;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  height: 180px;
  width: 100%;
  justify-content: space-between;
  &__logo {
    margin-top: 8%;
    color: #ededed;
  }
  &__content {
    height: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    color: #ededed;
    &-title {
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 6px;
      margin-bottom: 2.5%;
    }
    &-description {
      width: 404px;
      align-self: flex-end;
      line-height: 40px;
      font-size: 24px;
      letter-spacing: 3px;
    }
  }
  &__mouse-icon {
    height: 45px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    margin-bottom: 2%;
    animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: 2;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    &:hover {
      animation: shake 1.6s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}

.menu {
  margin-top: 9%;
  width: 150px;
  position: relative;
  text-align: center;
  height: 24px;
  &-check {
    display: none;
    &:checked ~ .menu__nav {
      font-size:18px;
      max-height: 300px;
    }
    &:checked ~ .first {
      display: none;
    }
    &:checked ~ .second {
      transform: rotate(45deg);
    }
    &:checked ~ .third {
      transform: rotate(-45deg);
    }
    &:checked ~ .fourth {
      display: none;
    }
  }
  &__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ededed;
  }
  &__nav {
    width: 100%;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 10px;
    transform: translateY(100%);
    text-align: center;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    background-color: #1e1e1e;
  }
}

.link {
  width: 100%;
  display: block;
  padding: 10px 0px 10px 0px;
  color: #ededed;
  text-decoration: none;
  border-top: 1px solid #1c1c1c;
  font-weight: 500;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  &:hover {
    transition: .2s all;
    color: #3b3b3b;
  }
}

.burger-line {
  width: 19px;
  height: 3px;
  background-color: #ededed;
  position: absolute;
  top: 6px;
  right: 0px;
  transition: .5s all;
}
.second, .third {
  top: 12px;
}
.fourth {
  top: 18px;
}

.sticky-menu {
  display: flex;
  width: 100%;
  height: 82px;
  box-shadow: 1px 1px 27px rgba(0,0,0, 0.16);
  overflow: hidden;
  &__nav {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    
    &-link {
      color: #3b3b3b;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      &:hover {
        color: #917034;
        transition: .2s all;
      }
    }
  }
  &__logo {
    color: #1c1c1c;
    margin-right: 20%;
  }
}

.about-us {
  color: #3b3b3b;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: #1d1d1d;
    margin-top: 52px;
    margin-bottom: 0px;
  }
  &__subtitle {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  &__description {
    font-size: 14px;
    font-weight: 600;
  }
}

.some-stats {
  width: 100%;
  height: 457px;
  background: url(../img/stats-bg.jpg) no-repeat;
  color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-top: 95px;
    margin-bottom: 15px;
  }
  &__description {
    margin-top: 0px;
    letter-spacing: 2.25px;
    font-weight: 600;
  }
  &__items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    &-box {
      display: flex;
      flex-direction: column;
      width: 235px;
    }
    &-number{
      margin: 0px;
      font-size: 72px;
      font-weight: 600;
      text-align: center;
    }
    &-text {
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;
    }
  }
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #3b3b3b;
  
  &__title {
    width: 100%;
    text-align: center;;
    letter-spacing: 3.75px;
    color: #1e1e1e;
    margin-bottom: 15px;
    margin-top: 51px;
  }
  &__subtitle {
    width: 100%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2.25px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  &__card {
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
    &-name {
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 0px;
    }
    &-price {
      text-align: center;
      font-weight: 600;
      margin: 0px;
    }
    &-link {
      display: block;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2.25px;
      text-decoration: underline;
      margin-top: 15px;
    }
    &-img {
      display: block;
    }
    &:hover {
      transform: scale(1.05);
      transition: .5s all;
    }
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  color: #1e1e1e;
  background-color: #ededed;
  &__title {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 19px;
    text-align: center;
  }
  &__subtitle {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.25px;
    margin-top: 0;
  }
  &__profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 55px;
    &-name {
      margin-bottom: 19px;
    }
    &-description {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 2.25px;
      text-transform: uppercase;
      margin-top: 0px;
      margin-bottom: 60px;
    }
  }
}

.social {
  display: flex;
  color: #1e1e1e;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
  &__title {
    width: 100%;
    margin-top: 66px;
    margin-bottom: 19px;
  }
  &__subtitle {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.25px;
    margin-top: 0px;
    margin-bottom: 53px;
  }
  &__photos {
    margin: -4px;
  }
  &__contact {
    width: 100%;
    margin-top: 66px;
    margin-bottom: 57px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #3b3b3b;
    &__underline {
      text-decoration: underline;
      color: #1e1e1e;
    }
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  color: #ededed;
  background-color: #1e1e1e;
  &__logo {
    width: 100%;
    margin-top: 57px;
    margin-bottom: 50px;
    text-align: center;
  }
  &__nav{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-transform: uppercase;
    &-title {
      text-transform: uppercase;
      font-weight: 900;
      margin-top: 0px;
      margin-bottom: 30px;
      
    }
    &-link {
      margin-bottom: 15px;
      text-decoration: none;
      letter-spacing: 2.25px;
      text-transform: uppercase;
      font-weight: 600;
      color: #ededed;
      &:last-child {
        margin-bottom: 40px;
      }
    }
    &-icons {
      display: flex;
    }
    &-map {
      width: 291px;
      height: 205px;
      margin-bottom: 40px;
    }
  }
}

.facebook {
  height: 30px;
  width: 30px;
  background: url('../img/facebook.png') no-repeat;
  margin-right: 10px;
}
.linkedin {
  height: 30px;
  width: 30px;
  background: url('../img/linked-in.png') no-repeat;
  margin-right: 10px;
}
.instagram {
  height: 30px;
  width: 30px;
  background: url('../img/instagram.png') no-repeat;
  margin-right: 10px;
}
.twitter {
  height: 30px;
  width: 30px;
  background: url('../img/twitter.png') no-repeat;
}